{% extends "restorent/base.html" %}

{% block title %}

<title>
    Settings
</title>

{% endblock %}

{% block content %}

<!-- Add category -->
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form method="post" action="{% url 'restorent:logout' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="card-title">
                        Do You Want to Logout !
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-custom" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Logout</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <span>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        All Staff
                    </h5>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 mt-5">
            <div class="card">
                <a class="card-body" href="{% url 'restorent:add_sitting' %}">
                    <h5 class="card-title">
                        <span>
                            <i class="fa fa-building" aria-hidden="true"></i>
                        </span>
                        Sitting Area
                    </h5>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 mt-5">
            <div class="card">
                <a class="card-body" href="{% url 'restorent:add_menue' %}">
                    <h5 class="card-title">
                        <span>
                            <i class="fa fa-building" aria-hidden="true"></i>
                        </span>
                        Add Menu
                    </h5>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 mt-5">
            <div class="card">
                <a class="card-body" href="{% url 'restorent:restorent_detail' %}">
                    <h5 class="card-title">
                        <span>
                            <i class="fa fa-building" aria-hidden="true"></i>
                        </span>
                        Restorent Details
                    </h5>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 mt-5">
            <div class="card">
                <a class="card-body" href="{% url 'restorent:add_tax' %}">
                    <h5 class="card-title">
                        <span>
                            <i class="fa fa-building" aria-hidden="true"></i>
                        </span>
                        Add Tax
                    </h5>
                </a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 mt-5">
            <div class="card">
                <a class="card-body" href="#"  data-bs-toggle="modal" data-bs-target="#logout">
                    <h5 class="card-title">
                        <span>
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        Log out
                    </h5>
                </a>
            </div>
        </div>


    </div>
</div>

{% endblock %}